<!--<div class="card d-flex gap-2">-->
<!--  <div class="img-fluid">-->
<!--    <img src="favicon.ico" alt="logo">-->
<!--  </div>-->
<!--  <div class="card-info">-->
<!--    <h2>Card Title</h2>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate.</p>-->
<!--    <p>salary: {{ 1000 }}</p>-->
<!--    <p>location: {{ 'location' }}</p>-->
<!--    <a href="#" class="btn btn-primary">Read More</a>-->

<!--  </div>-->
<!--</div>-->


  <div
    [routerLink]="['/job-offers', jobOffer.id]"
    role="button"
    class="w-100 border rounded   d-flex gap-3 ">
    <div class="w-25 h-25 my-auto" style="max-width: 120px ; margin-left: 20px">
      <img class=" rounded w-100 " src="https://media.licdn.com/dms/image/D4E0BAQEa77mGYDsWTQ/company-logo_200_200/0/1699965210072/ux4mation_logo?e=2147483647&v=beta&t=h4COg8bmVGITgHED44flsBmo2xwP0CcouzZqXrC5f9M" alt="ux4mation">
    </div>
    <div *ngIf="jobOffer" class="wx-auto my-3">
      <div class="" style="margin: 0; padding: 0">
            <h6><b class="">{{jobOffer.title}} </b></h6>
            <p  class="text-sm-start m-1">{{jobOffer.location}}</p>
            <p class="m-1">{{jobOffer.description}}</p>
            <p class="m-1">salary: {{ jobOffer.salary }}</p>
            <p class="m-1">contract: {{ jobOffer.contract }}</p>
            <p class="m-1">location: {{ jobOffer.location }}</p>
            <a href="#" class="btn btn-light btn-sm">Read More</a>
      </div>
      <div *ngIf="showAdminOptions" class="d-flex gap-3 mt-4 ">
        <button class="btn btn-danger btn-sm" (click)="deleteJobOffer(jobOffer.id)">Delete</button>
        <button class="btn btn-warning btn-sm" (click)="editJobOffer(jobOffer.id)">Edit</button>
        <button class="btn btn-success btn-sm" (click)="showJobOffer(jobOffer.id)">Show</button>
      </div>
    </div>


  </div>


