<!--<div class="card d-flex gap-2">-->
<!--  <div class="img-fluid">-->
<!--    <img src="favicon.ico" alt="logo">-->
<!--  </div>-->
<!--  <div class="card-info">-->
<!--    <h2>Card Title</h2>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate.</p>-->
<!--    <p>salary: {{ 1000 }}</p>-->
<!--    <p>location: {{ 'location' }}</p>-->
<!--    <a href="#" class="btn btn-primary">Read More</a>-->

<!--  </div>-->
<!--</div>-->


  <div
    [routerLink]="['/job-offers', 1]"
    role="button"
    class="w-100 border rounded   d-flex gap-3 ">
    <div class="w-25 h-25 my-auto" style="max-width: 200px ; margin-left: 20px">
      <img class=" rounded w-100 " src="https://media.licdn.com/dms/image/D4E0BAQEa77mGYDsWTQ/company-logo_200_200/0/1699965210072/ux4mation_logo?e=2147483647&v=beta&t=h4COg8bmVGITgHED44flsBmo2xwP0CcouzZqXrC5f9M" alt="ux4mation">
    </div>
    <div class="w-auto m-3 ">
      <div class=" w-100">
            <h6><b class="">Card Title</b></h6>
            <p class="text-sm-start">
              ux4mation
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate.</p>
            <p>salary: {{ 1000 }}</p>
            <p>location: {{ 'location' }}</p>
            <a href="#" class="btn btn-light btn-sm">Read More</a>
      </div>
    </div>

  </div>


