<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link"
    [routerLink]="['/job_offers',]" [queryParams]="{page: currentPage-1}"
       (click)="onPageChange(currentPage-1)"

    >
      Previous
    </a></li>
    <li class="page-item"
    *ngFor="let number of getTotalPages()"
    [class.active]="currentPage==number">
      <a class="page-link"
        [routerLink]="['/job_offers',]"
        [queryParams]="{page: number}"
         (click)="onPageChange(number)"
    >{{number}}</a></li>
    <li class="page-item"><a class="page-link"
                             [routerLink]="['/job_offers',]"
                             [queryParams]="{page: currentPage+1}"
                             (click)="onPageChange(currentPage+1)"
    >
      Next
    </a></li>
  </ul>
</nav>
