
<div class="container mt-2 gap-2 d-flex align-items-center justify-content-between">
  <div class="leading">
    Il y a 677 537 Annonces sur le site
  </div>
  <ul class="bar d-flex gap-2 align-items-center list-unstyled my-auto">
    <li><a title="Connexion" href="mes-favoris.html"  class="btn-sm btn btn-light"  >Mes Favoris</a></li>
    <li><a title="Connexion"  href="mon-compte/"  class="btn-sm btn btn-light" >Connexion</a></li>
    <li><a title="Devenir membre" href="register.php"  class="btn-sm btn btn-light" >Inscription</a></li>
    <li><a title="FAQ"   href="faq.html" class="btn-sm btn btn-light" >FAQ</a></li>
    <li class="last"><a title="Contact"  href="contact.html" class="btn-sm btn btn-light" >Contact</a></li>
  </ul>
</div>
<hr>
