<app-job-offer-layouts>
  <ng-container  job-offer-content *ngIf="vm$ | async as vm">
    <div *ngIf="vm.isLoading">Loading...</div>
    <!--  <div>{{vm.nbrOffers}}</div>-->

    <div class="mt-2">
      <div class="my-3">
        <h4>Emploi / Offres emploi</h4>
        <p>Vous consultez les 1200 annonces Emploi dont 15 366 d'Offres emploi</p>
      </div>
      <!--  <button (click)="addMoreOfferJobsNbr()" class="btn btn-sm btn-light">-->
      <!--    add more nbr offers-->
      <!--  </button>-->
      <div id="job-offers" class="d-grid gap-3">
        <app-job-offer-card *ngFor="let jobOffer of jobOffers"
        [jobOffer]="jobOffer"
        ></app-job-offer-card>
        <app-pagination
          [totalElements]="totalPages"
          [pageSize]="pageSize"
          [currentPage]="currentPage"
        ></app-pagination>
      </div>

    </div>
  </ng-container>

</app-job-offer-layouts>
