<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <h2 class="mb-4">Code Validation</h2>
      <form (ngSubmit)="handleCodeVerification($event)" class="d-grid gap-3" id="validationForm">
        <div class="form-group">
          <input  type="hidden" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="code">Validation Code:</label>
          <input type="text" class="form-control" id="code" name="code" required>
        </div>
        <button type="button" class="btn btn-primary" >Validate</button>
      </form>
    </div>
  </div>
</div>
