
<app-job-offer-layouts>

  <div error-content  *ngIf="error" class="alert alert-danger mt-4" role="alert">
    {{ error }}
  </div>
<div *ngIf="jobOffer"  job-offer-content class="container  row gap-3  my-4 p-4">

    <div  class="card job-detail-container " style="max-width: 70%">
      <a class="text-dark" href="#">
          <p class="m-4 text-end ">Annonce suivante
            <i class="bi bi-arrow-right-circle-fill"></i>
          </p>
      </a>
      <h2 class="m-2">
        {{jobOffer.title}} Commercial senior b2b grand comptes / poste uniquement pour les diplomés(e) bac+5
      </h2>
      <div class="d-flex gap-3 align-items-center align-content-center  " style="padding: 0px" >
        <p class="my-auto">Publié le 12/12/2020</p>
        <div class="vr"></div>
        <p class="my-auto">par <a href="#">Annonce N°: 9450742</a></p>
        <div class="vr"></div>
        <p class="my-auto">{{jobOffer.location}} </p>
        <div class="vr"></div>
        <p class="my-auto">Vue: 1792</p>
        <div class="vr"></div>
        <p class="my-auto"><i class="bi bi-suit-heart"></i></p>
      </div>
        <div class="my-3">
          <div class="w-25 mx-4  float-start" style="max-width: 200px">
            <img class="w-100 " src="https://www.marocannonces.com/user_images/309/4689665.jpg" alt="something">
          </div>
          <p class="text-wrap" [ngStyle]="{
            lineHeight: '2',

          }">
            {{jobOffer.description }}
            Ce poste est pour vous si vous avez un bac+5 et diplômé (e) d'une école de commerce
            Le (a) candidat(e) sera pourvu d’une bonne expérience commerciale / marketing digitale  et devra assurer la vente et la prospection terrain d'une clientèle professionnelle dans le domaine de l'empoi (Recrutement)
            Ciblage : Cabinets RH, intérim, hôtels, usines, Restaurants, multinationale..
            Encore une fois, pour nous accompagner dans notre croissance, vous devez avoir un bac+5 et diplômé (e) d'une école de commerce..
            Votre mission principale en tant que commercial terrain B2B, vous serez en charge :
            • Du suivi et de la prospection terrain d'une clientèle professionnelle de l'emploi.
            Vos missions :
            • Développer un portefeuille de prospects.
            • Suivre son portefeuille
            • Collaborer à la conception et à la réalisation d'actions commerciales
            • Contribuer au développement de la notoriété de la marque
            • De la promotion des différentes solutions de visibilité afin d'améliorer le chiffre d'affaires de la société
            • Créer et entretenir des partenariats
            • Utiliser les techniques de vente par téléphone
            • Prospection commerciale et rendez-vous physique clients
            • De la négociation jusqu'à la signature des deals,
            Vous êtes curieux et fonceur.
            Votre opportunisme commercial vous confère une forte capacité de rebond.
            Votre professionnalisme, votre implication, votre crédibilité technique et votre rigueur font de vous le candidat idéal.
          </p>
        </div>
        <div>
          <p>Domaine  Commercial / Vente</p>
          <p>Fonction  Commercial / Vente / Export</p>
          <p>Employeur  Recrutement</p>
          <p>Niveau de poste  Expérimenté / Professionnel</p>
          <p>Niveau d'expérience  De 3 à 5 ans</p>
          <p>Secteur d'activité  Recrutement</p>
        </div>
    </div>
    <div class="col ">
      <a [routerLink]="['/job_offers',jobOffer.id , 'apply']"  type="button" class="btn btn-lg my-1 w-100 btn-danger">
          Postuler maintenant
      </a>
      <button type="button" class="btn btn-lg my-1 d-flex align-items-center w-100 btn-outline-primary">
          Recommander un(e) ami(e)
      </button>
      <div class="social-media text-center mt-4">
        <h6> PARTAGER CE POSTE </h6>
        <a class="text-danger" href="#"> <i class="bi  mx-1 bi-instagram"></i></a>
        <a class="text-danger" href="#"> <i class="bi mx-1  bi-facebook"></i></a>
        <a class="text-danger" href="#"> <i class="bi  mx-1 bi-linkedin"></i></a>
        <a class="text-danger" href="#"> <i class="bi  mx-1 bi-youtube"></i></a>
        <a class="text-danger" href="#"> <i class="bi  mx-1 bi-behance"></i></a>
        <a class="text-danger" href="#"> <i class="bi  mx-1 bi-twitter"></i></a>
      </div>
      <div class="">
        <p>AUTRES POSTES CHEZ DEVOTEAM MOROCCO</p>
        <p>Développeur FullStack .NET Angular | Devoteam Maroc Nearshore</p>

        <p>Rabat, Morocco</p>

        <p>Développeur FullStack Node.js / Vue.js | Devoteam Maroc Nearshore</p>
        <a href="#">Afficher tous les postes chez Devoteam Morocco</a>
      </div>
    </div>
</div>
</app-job-offer-layouts>
