<app-job-offer-layouts>
<div job-offer-content class="container mt-4">
  <h1>Postulez facilement</h1>
  <p>  Choisissez une option pour renseigner automatiquement vos informations de candidature.
    Vous pouvez également remplir votre dossier manuellement.</p>
  <div class="row">
    <h4>Informations personnelles</h4>
    <p>Les champs marqués d'une * sont obligatoires.</p>
  </div>

  <div class="card p-2">
    <app-job-offer-apply-form></app-job-offer-apply-form>
  </div>



</div>
</app-job-offer-layouts>

